.user-application img {
    width: 100%;
    height: 720.6px;
    object-fit: contain;
}

.right-side-user h4 {
    color: #202FF0;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.right-side-user h2 {
    font-size: 64px;
    font-weight: 700;
}

.user-image-1 {
    height: 60px;
    width: 59px;
    object-fit: contain;
}

.user-image-2 {
    height: 56px;
    width: 55px;
    object-fit: contain;
}

.user-image-3 {
    height: 53px;
    width: 53px;
    object-fit: contain;
}

.right-side-user p {
    font-size: 20px;
}

.right-side-user a {
    width: 152px;
    height: 40.53px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
}

.right-side-user a:hover {
    color: #ffffff;
}