 #main-div {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
 }
 
 #gradient-canvas {
     width: 100%;
     height: 720px;
     --gradient-color-1: #F88DEA;
     --gradient-color-2: #9A65F3;
     --gradient-color-3: #FFFFFF;
     --gradient-color-4: #BFFFF8;
     z-index: 0;
 }
 
 #top-content {
     position: absolute;
     top: 0px;
     z-index: 100;
 }