.heading-part a {
    width: 252px;
    height: 65px;
    background: #000000;
    color: #ffffff;
    border-radius: 41.5789px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.center-me {
    width: 100%;
}

.heading-part a:hover {
    color: #ffffff;
}

.heading-part h2 {
    font-size: 64px;
    font-weight: 700;
}

.scooter {
    background-color: #F5F5F5;
}