.admin-application img {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.left-side-user h4 {
    color: #FF0069;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.left-side-user h2 {
    font-size: 64px;
    font-weight: 700;
}

.user-image-1 {
    height: 60px;
    width: 100%;
    object-fit: contain;
}

.user-image-2 {
    height: 56px;
    width: 100%;
    object-fit: contain;
}

.user-image-3 {
    height: 53px;
    width: 100%;
    object-fit: contain;
}

.left-side-user p {
    font-size: 80%;
}

.left-side-user a {
    width: 152px;
    height: 40.53px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
}

.left-side-user a:hover {
    color: #ffffff;
}
.admin-application-main-class  h2{
    font-size: 5vw;
    color: #000000;
}