.left-side h2 {
    font-weight: 800;
    font-size: 4vw;
    line-height: 10vh;
    color: #000000;
}

.left-side a {
    width: 252px;
    height: 65px;
    background: #000000;
    color: #ffffff;
    border-radius: 41.5789px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.left-side a:hover {
    color: #ffffff;
}

.gray-color {
    font-size: 14px;
    /* identical to box height, or 21px */
    color: #858585;
}

.left-side-brand img {}