.success h4 {
    color: #FFB800;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.success h2 {
    font-size: 64px;
    font-weight: 700;
}

.back-image {
    display: inline;
    z-index: 1;
}

.front-image {
    background-image: url(../../assets/successonotobg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.success {
    height: 300px;
}