footer {
    background-color: #000000;
}

footer,
a:link {
    text-decoration: none;
    font-style: none;
    font-weight: normal;
    font-size: 18px;
    color: #999999!important;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.footer-h2 {
    text-align: left;
}